.footer-top {
    margin: 0 0 30px;
    padding: 0;
}
.footer{
    color: #737373;
    font-size: 1em;
    margin-top: 80px;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    position: 'relative';
    width: 100%;
}
.footer-card{
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}
.footer-country{
    font-size: 13px;
    margin-top: 24px;
}
p{
    display: block;
}